In [20]:
import pandas as pd
from sqlalchemy import create_engine

In [21]:
db_params = {
            'host': 'localhost',
            'user': 'postgres',
            'port': '15432',
            'database': 'youtube_data'
        
        }

In [27]:
df= pd.read_csv('../data/city_chart.csv')

In [28]:
df.head()

         date                                city_id    city_name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0

In [22]:
engine = create_engine('postgresql://username:password@localhost:15432/youtube_data', echo=True)

In [29]:
conn = psycopg2.connect(**db_params)

         date                                city_id    city_name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0

In [25]:
table_name = 'city_chart'

In [30]:

df.to_sql(table_name, conn, index=False, if_exists='replace')

/var/folders/9s/3_yd7q9j0y33cb8h3dv8psvm0000gn/T/ipykernel_22240/2793482961.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, conn, index=False, if_exists='replace')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': syntax error at or near ";"
LINE 1: ...ELECT name FROM sqlite_master WHERE type='table' AND name=?;
                                                                      ^